body{
  background-color: rgb(73, 132, 134);
  position: relative;
  height: 100px;
  justify-content: center;
}

.container{
  background: #292b53;
  border: 5px solid black;
  width: 50%;
  position: relative;
  top: 50%;
  left: 25%;
  display: grid;
}

#textArea{
  padding: 10px;
  font-size: 40px;
}

.operations{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(40px, auto);
  padding: 5px;
  grid-gap: 3px;
  background: #292b53;
}

.buttons{
  background: #292b53;
  display: grid;
  grid-template-columns: 3fr 1fr;
  font-style: italic;
}

.equal{
  display: grid;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  border-radius: 10%;
  background: #292b53;
  font-style: italic;
}
#equal{
  background: #376;
  border-radius: 10px;
  font-size: 25px;
}
#equal:hover{
  background: #d7d7ca;
}

.numbers{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: minmax(40px, auto);
  padding: 5px;
  grid-gap: 3px;
  border-radius: 10%;
  background-color: #292b53;
}
.sty{
  /*background: black;*/
  border-radius: 20%;
  background: #376;
  font-style: italic;
  font-size: 20px;
}
.sty:hover{
  background: #d7d7ca;
}
.ope{
  border-radius: 20%;
  background: orange;
  font-size: 27px;
}
.ope:hover{
  background: #d7d7ca;
}


/**body {
    position: relative;
    background-color: rgb(73, 132, 134);
    width: auto;
    height: auto;
}

#container{
    position: relative;
    top: 25%;
    left: 25%;
    display: inline-block;
    background-color: rgb(121, 23, 23);
    border: 4px solid black;
}

div{
    padding: 7px;
}

#textArea{
    width: 100%;
    height: 100%;
    position: relative;
    top: 50%;
}

button{
    border: 1px solid wheat;
    border-radius: 25%;
    padding: 12px;
    width: 39px;
    color: white;
    background-color: #292b53;
    font-size: 13px;
    /* border-radius: 30%; */
/*}
/**
#equal{
    position: absolute;
    top: 36%;
    left: 73%;
    float: right;
    border-radius: 5%;
    height: 200px;
    margin: 0px 0px;
}**/
